* {
  margin: 0em;
  padding: 0em;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-right: 0em;
  padding-right: 0em;
  display: flex;
}
/*////////////////// */
/* header  */
/*//////////////////// */
.header {
  background-color: #f0ebf9;
  position: fixed;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0em auto;
  padding: 2em 0em;
}

header p a {
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: bold;
}

nav ul {
  display: flex;
  position: relative;
  list-style: none;
  flex-wrap: wrap;
}
ul li a {
  margin: 1.5em;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: capitalize;
  color: gray;
}
.header nav ul .home {
  color: #000000;
}
.material-icons.md-18 {
  font-size: 1em;
  vertical-align: middle;
}

nav ul li ul {
  position: absolute;
  display: none;
}
nav ul .dropdown:hover ul {
  display: block;
}

.dropdown-menu li {
  padding: 0.8em;
  background-color: #fff;
}
.dropdown-item {
  margin-top: 1em;
  border-top: 0.3em solid #6f42c1;
}
.dropdown-menu li:hover {
  background-color: #eff1f3;
}
.dropdown-menu .menu2 .dropdownmenu2 {
  display: none;
  position: absolute;
}
.menu2:hover .dropdownmenu2 {
  display: block;
}
.dropdownmenu2 {
  margin-top: -2.3em;
  width: 80%;
  margin-left: 16.5em;
}
.dropdownmenu2 .menu2-item {
  border-top: 0.3em solid #6f42c1;
}
/* end of header */

.container {
  z-index: 1;
  margin-top: 5em;
}
.section1 {
  width: 60%;
  margin: 0 auto;
}
.container .hero {
  background-color: #f0ebf9;
  border-radius: 0% 0% 55% 0%;
  overflow: hidden;
}
.hero-section {
  display: flex;
  padding-top: 4em;
  flex-basis: 100%;
}
.hero-left {
  flex: 1;
}
.hero-right {
  flex: 1;
}
.hero-section p {
  color: #b5a0f1;
  font-size: 1em;
  margin-bottom: 0.5em;
}

.hero-section h1 {
  color: #6f42c1;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0em 0em 0.5em 0em;
}
.hero-section .hero-content {
  color: #8e8080;
  font-size: 1.2em;
  line-height: 1.5em;
}

.hero-section button {
  background-color: #6f42c1;
  color: #fff;
  border-radius: 2em;
  padding: 0.8em 2em;
  margin-top: 2em;
  text-transform: uppercase;
}

/* end of hero section */

.stat-section {
  background-color: #fff;
  padding-top: 5em;
}
.stat-section .section2 {
  width: 60%;
  margin: 0em auto;
}
.stat-info {
  text-align: center;
}
.stat-info h2 {
  color: #6f42c1;
  font-size: 2em;
  margin: 0.5em 0em;
}
.stat-info p {
  font-size: 1.2em;
  color: gray;
}
.stat {
  display: flex;
  padding-top: 1em;
  justify-content: space-between;
  padding-top: 2em;
  text-align: center;
}

.stat-details div {
  font-size: 2em;
  color: #000000;
  font-weight: bold;
}
.stat-details p {
  font-size: 1em;
  color: gray;
  text-align: center;
  padding: 0em;
  margin: 1em 0em;
}
.stat-details span {
  color: #af9be4;
  text-align: center;
}
.stat-details .material-icons.md-24 {
  font-size: 3em;
}

.video-wrapper {
  display: flex;
  margin-top: 8em;
  justify-content: space-between;
}
.right-wrapper {
  margin-left: 8em;
  flex: 2;
}

.right-wrapper h5 {
  color: #6f42c1;
  font-size: 2em;
  margin: 1em 0em;
}
.right-wrapper p {
  color: gray;
  font-size: 1.2em;
  line-height: 1.5em;
}
.right-wrapper ul {
  list-style: none;
  font-size: 1.2em;
  color: gray;
  line-height: 1.5em;
  margin: 1em 0em;
}
.material-icons.md-18 {
  margin: 0em 1em 0em 0em;
  color: #6f42c1;
}
.right-wrapper button {
  color: #fff;
  background-color: #6f42c1;
  font-size: 1em;
  padding: 0.5em 2em;
  margin-top: 1em;
  border-radius: 2em;
  box-shadow: none;
}
.guide-section {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
}
.guide h5 {
  padding: 0em;
  margin: 0em;
  font-size: 1em;
  color: #6f42c1;
}
.guide p {
  padding: 0em;
  margin: 0em;
  font-size: 1em;
  color: gray;
}

.guide-section .guide {
  display: flex;
  justify-content: space-between;
}

.guide .material-icons.md-24 {
  font-size: 3em;
  margin-right: 0.2em;
  color: #af9be4;
}

/* end of stats section */

.section3 {
  background-color: #f8f5fc;
  padding: 10em 0em;
  margin-top: 3em;
}

.section3 section {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}
.sec3-left {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.sec3-right {
  margin-left: 8em;
  flex: 1;
}
.card {
  background-color: #fff;
  margin: 1.5em 0.5em;
  padding-bottom: 1em;
  min-height: 50%;
}

.card div {
  background-color: #e2d9f3;
  text-align: center;
  padding: 1.8em 5em;
  margin-bottom: 1em;
}
.material-icons.md-24 {
  font-size: 3em;
  color: #af9be4;
}

.card-body h6 {
  font-size: 1em;
  color: #6f42c1;
}
/* .card-body p {
  font-size: 1em;
  color: #8e8080;
} */
/* .card-cover {
  padding: 4em 4em;
} */
.align-card {
  margin-top: -0.3em;
}
.arrange-card {
  margin-top: -0.5em;
}

.sec3-right h5 {
  color: #6f42c1;
  font-size: 1.8em;
  margin: 0.5em 0em;
  padding-left: 0.8em;
}

.sec3-right p {
  font-size: 0.9em;
  color: #8e8080;
  margin: 0em;
  padding-left: 1.8em;
  line-height: 1.5em;
}
.sec3-right ul {
  font-size: 0.9em;
  color: #8e8080;
  line-height: 1.5em;
}

.sec3-right button {
  padding: 0.8em 2em;
  border-radius: 2em;
  background-color: #6f42c1;
  color: #fff;
  font-size: 0.8em;
  font-variant: small-caps;
  margin: 2em 0em 0em 1em;
}

/* end of prevtion section */
.section4 {
  background-color: #fff;
  padding-top: 5em;
}
.section4 section {
  width: 60%;
  margin: 0 auto;
}
.section4 .sec4 {
  display: flex;
  justify-content: space-between;
  padding-top: 5em;
}
.section4 .sec-header {
  text-align: center;
}
.sec-header span,
p,
h5 {
  font-size: 0.8em;
  margin: 0em;
}
.sec-header h5 {
  font-size: 2em;
  color: #6f42c1;
}
.sec4 ul li {
  margin: 1em 0em;
  font-size: 0.8em;
  color: #8e8080;
}

.sec4 .list {
  margin-top: 6em;
}

.sec4 h6 {
  padding-left: 2em;
}

.section5 {
  background-color: #f8f5fc;
  padding: 3em;
}
.section5 section {
  width: 60%;
  margin: 0 auto;
}

.sec5-header {
  text-align: center;
}

.sec5 {
  display: flex;
  margin: 3em 0em;
}

.sec5-content {
  display: flex;
  background-color: #fff;
  margin: 2em 0.8em;
  padding: 0em 1em;
  color: #8e8080;
}

.sec5-content figure {
  margin: 2em 0em;
}

.sec5-content h6 {
  color: #6f42c1;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}
.sec5-content h6 {
  font-size: 1em;
}

.sec5-header h4 {
  color: #6f42c1;
  font-size: 2em;
  margin: 0.5em;
}
.sec5-header p {
  font-size: 1em;
  color: #8e8080;
}

.sec5-footer {
  display: flex;
  justify-content: space-around;
}

.sec5-footer p {
  font-size: 1em;
  color: #8e8080;
  line-height: 1.8em;
}

.sec5-footer b {
  color: #6f42c1;
}
.sec5-footer a button {
  background-color: #6f42c1;
  border-radius: 2em;
  padding: 0.5em 2em;
  text-transform: capitalize;
  color: #fff;
}

.section6 {
  background-color: #fff;
}

.section6 section {
  width: 60%;
  margin: 0 auto;
  padding: 5em 0em;
}

.section6 h5 {
  text-align: center;
  font-size: 1.5em;
  color: #6f42c1;
}
.section6 p {
  text-align: center;
  font-size: 1em;
  color: #8e8080;
  margin-top: 1em;
}

.sec6-img {
  margin: 3em 0em;
  display: flex;
  justify-content: space-between;
}

.sec6-img figure {
  position: relative;
}

.sec6-img figcaption .date {
  background-color: #6f42c1;
  color: #fff;
  position: absolute;
  top: 62%;
  left: 35%;
  padding: 0.5em;
}
.sec6-img figcaption {
  text-align: center;
}
.sec6-img figcaption div {
  padding-top: 2em;
  color: #8e8080;
}

.sec6-img figcaption p {
  color: #6f42c1;
  font-size: 1.2em;
}

footer {
  padding-bottom: 4em;
}

footer .container {
  display: flex;
  margin: 3em 0em;
}

.footer-section {
  width: 60%;
  margin: 0 auto;
}

footer .container h6 {
  font-size: 1em;
  text-align: center;
  color: #8e8080;
}

footer .container p {
  font-size: 1.2em;

  color: #8e8080;
  margin-bottom: 2em;
}

footer .container ul {
  font-size: 1em;
  margin: 0em 2em;
  width: 100%;

  list-style: none;
}
footer h6.about {
  text-align: left;
}
footer .container ul li {
  margin: 1.5em 0em;
  color: #6f42c1;
}

footer .container ul li a {
  color: #6f42c1;
}
.copyright {
  text-align: center;
  color: #8e8080;
}
.copyright b {
  color: #6f42c1;
}
